# Dependencies
node_modules/

# Environment files
.env

# Build artifacts
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# IDE
.vscode/

# PyInstaller
*.manifest
*.pem
